<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Example App</title>
</head>
<body>

{{{ body }}}

{{#if showTitle}}
<h1>Home</h1>
{{else}}
<h1>Home2</h1>
{{/if}}

{{#each people}}
<p>{{this}}</p>
{{/each}}

<!-- without this, socket IO cannot detect the user / send & receive data from socketIO server -->
<script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io.connect('http://localhost:3000/my-namespace');
  socket.on('hi', function (data) {
    console.log(data);
  });

  socket.emit('data_from_client', { 'hello': 'world' });
</script>

</body>
</html>